<!-- <div class="container">
	<table style="padding:5px">
    <tr ng-repeat="forecast in forecasts" class="spotList">
    	<div class="spotClass">
    		<td><a href="/reports/{{forecast.spotName}}">{{forecast.spotName}}</a></td>
    		<td>{{forecast.forecastSwellHeight}}</td>
    		<td>{{forecast.avgSwellHeight}}</td>
    		<td>{{forecast.hourlyReportCount}}</td>
    	</div>
    </tr>
  </table>
  <div margin="center">
  <button class="reportBtn" ng-click="report()">Report!</button>
  </div>
</div> -->


<div class="container-fluid main-theme-background status-list" ng-repeat="forecast in forecasts">
	<div class="row-fluid status-list-item" >
			<div class="col-xs-8">
				<span class="glyphicon glyphicon-map-marker v-center"></span><a class="no-link" href="/reports/{{forecast.spotName}}">{{forecast.spotName}}</a>
			</div>
			<div class="col-xs-2">
				<img src="wave2.png" style="height: 30; width: 61;" class="v-center"/>{{forecast.avgSwellHeight}}
			</div>
			<div class="col-xs-2"> 
				<span class="glyphicon glyphicon-user v-center" style="padding-right: 20px;"></span>{{forecast.hourlyReportCount}}
			</div>
		
	</div>
</div>