<div class="container">
  <table style="padding:5px">
      <tr ng-repeat="forecast in forecasts" class="spotList">
       <div class="spotClass">
          <td><a href="/reports/{{forecast.spotName}}">{{forecast.spotName}}</a></td>
          <td>{{forecast.forecastSwellHeight}}</td>
          <td>{{forecast.reportSwellHeight}}</td>
        </div>
      </tr>
    </table>
  <div margin="center">
    <button class="reportBtn" ng-click="report()">Report!</button>
  </div>
</div>

<!-- <div class="report-list">
	<ul ng-repeat="report in reports">
		<li class="report-list-item">
			<div class="report-list-sub-item"><span class="glyphicon glyphicon-user" style="padding-right: 20px; padding-left: 20px;"></span>{{report.user}}</div>
			<div class="report-list-sub-item"> {{report.spot}}</div>
			<div class="report-list-sub-item">{{report.waveHeight}}</div>
		</li>
	</ul>
</div> -->