/* CSS declarations go here */
tr.spotList > td {
	padding-right: 0.9em;
	padding-bottom: 1em;
}

tr.reportList > td {
	padding-right: 0.9em;
	padding-bottom: 1em;
}

.reportBtn {
	vertical-align: bottom;
	margin: auto;
	padding: 1.2em;
}

.reportBtn > input[text]{
	background-color: green;
}

.veryOldReport {
	color: red;
}

.oldReport {
	color: OrangeRed;
}

.halfOldReport {
	color: yellow;
}

.newReport {
	color: green;
}

.reportForm {
	padding: 0.9em 0;
}

.title {
	font-size: 240%;
	color: #000000;
    text-decoration: none;
}

.button-back{
	display: inline-block;
	text-align: center;
	background-color: #00B3FF;
	color: white;
	display:block;
	height: 40px;
	width: 80px;
}

.button-back:hover{
	cursor: pointer;
	background-color: #0082BA;
}

.report-label {
	font-family: Arial;
	font-size: 15px;
	font-color: #096085;
}

.report-input{
	border-radius: 2px;
	border-color: #096085;
	font-family: Arial;
	float:left;
}

.no-link {
	text-decoration: none;
	color: inherit;
}

.container-full {
	font-family: Arial;
	width: 100%;
	height: 100%;
}

.navigator {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-align: center;
	height: 20%;
	background: #00D5FF;
}

.navigator-item {
	font-family: Arial;
	padding-left: 30px;
	display: inline;
	text-align: center;
	background-color: #23BAD9;
	color: white;
	font-size: 60px;
	height: 40px;
	width: 80px;
}

.navigator-item:hover {
	background-color: #1BA4BF;
	cursor: pointer;
}

.spot-list{
	height: 80%;
	padding: 10px;
	background: #D4F8FF;
}

.spot-list-item{
	font-family: Arial;
	color: white;
	list-style-type: none;
	font-size: 40px;
	text-align: center;
	width: 100%;
	background: #9DD7E3;
}

.spot-list-item:hover {

	background: #4BAABD;
	cursor: pointer;
}