/*  = = = Color schemes = = =  */
/* As hex codes */

.color-primary-0 { color: #125454 }	/* Main Primary color */
.color-primary-1 { color: #4C8888 }
.color-primary-2 { color: #296D6D }
.color-primary-3 { color: #033B3B }
.color-primary-4 { background-color: #002424 }



.color-lighter-0 { color: #23ADAD }	/* Main Primary color */
.color-lighter-1 { color: #6FD5D5 }
.color-lighter-2 { color: #43BFBF }
.color-lighter-3 { color: #01A1A1 }
.color-lighter-4 { color: #007777 }

.body {
	height: 100vh;
	width: 100vw;
	bottom:0;
	left:0;
	top:0;
	right:0;
}

input:focus, input {
	outline:0;
}

/* CSS declarations go here */
.no-bold {
	font-weight: none;
}

tr.spotList > td {
	padding-right: 0.9em;
	padding-bottom: 1em;
}

tr.reportList > td {
	padding-right: 0.9em;
	padding-bottom: 1em;
}

.reportBtn {
	vertical-align: bottom;
	margin: auto;
	padding: 1.2em;
}

.reportBtn > input[text]{
	background-color: green;
}

.veryOldReport {
	color: red;
}

.oldReport {
	color: OrangeRed;
}

.halfOldReport {
	color: yellow;
}

.newReport {
	color: green;
}

.reportForm {
	padding: 0.9em 0;
}

.title {
	font-size: 240%;
	color: #000000;
    text-decoration: none;
}


.button-back{
	display: inline-block;
	text-align: center;
	background-color: #00B3FF;
	color: white;
	display:block;
	height: 40px;
	width: 80px;
}

.button-back:hover{
	cursor: pointer;
	background-color: #0082BA;
}

.report-label {
	font-family: Arial;
	font-size: 15px;
	font-color: #096085;
}

.report-input{
	border-radius: 2px;
	border-color: #096085;
	font-family: Arial;
	float:left;
}

.no-link, .no-link:hover, .no-link:active, .no-link:focus, .no-link:visited {
	text-decoration: none;
	color: inherit;
}

.v-center {
  position: relative;
  transform: translateY(50%);
}

.align-right{
	text-align: right;
}

.container-full {
	font-family: Arial;
	width: 100%;
	height: 100%;
}

.user-dropdown {
	color: #23ADAD;
	font-size: 7vh;
}

 .user-dropdown:active{
	 color: #43BFBF;
	
 }
 

.user-dropdown:focus {
	color: #43BFBF;
	
}

.settings {

	 color: #23ADAD;
	font-size: 7vh;
 }
 
 .settings:active{
	 color: #43BFBF;
	
 }

.navigator {
	background-color: #007777;
	color: #125454;
	height: 15vh;
}

.navigator-item {
	font-family: Arial;
	padding-left: 30px;
	padding-right: 30px;
	display: inline;
	text-align: left;
	background-color: #23BAD9;
	color: white;
	font-size: 60px;
	height: 100%;
}

.navigator-item:hover {
	background-color: #1BA4BF;
	cursor: pointer;
}

.center {
	text-align: center;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}

.top-hack{
	margin-top: 10px;
}

.v-center-fix {
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.spot-list{
	height: 80%;
	padding: 10px;
	background: #D4F8FF;
}

.spot-list-item{
	border-radius: 4px;
	font-family: Arial;
	color: white;
	list-style-type: none;
	font-size: 40px;
	text-align: center;
	width: 100%;
	background-color: #9DD7E3;
}


.spot-list-item:hover {
	background-color: #4BAABD;
	cursor: pointer;
}

.spot-list-item:active{
	background: #4BAABF;
}

.report-list{
	height: 80%;
	padding: 10px;
	background: #D4F8FF;
}

.report-list-item{
	z-index: 99;
	border-radius: 4px;
	font-family: Arial;
	color: white;
	list-style-type: none;
	font-size: 40px;
	text-align: left;
	width: 100%;
	background: #9DD7E3;
} 

.report-list-item:hover {
	background: #4BAABD;
	cursor: pointer;
}

.report-list-sub-item{
	display: inline;
	width: 200px;
	padding-right: 50px;
}

.status-list {
	padding: 1.4vh;
	
}

.status-list-item {
	height: 3em;
	color: #6FD5D5 ;
	background-color: #01A1A1;
	border-radius: 7px;
	font-size: 5.3vw;
	font-weight: bold;
	line-height:3.1em;
}

.status-list-item:hover {
	
}

.status-list-item:active{
	background-color: #4C8888 ;
}

.main-theme-background {
	background-color: #007777;
}

.button-report {
	border-radius: 50px;
	color: white;
	font-size: 70px;
	height: 95px;
	width:  160px;

}

.button-report:active{
	background-color: #23ADAD;
}

.white {
		color: white;
}

/* .search {
	-webkit-border-radius: 15px;
	background-color: #6FD5D5;
	width: 420px;
	height: 60px;
	font-size: 40px;
	padding: 5px;
} */

.nav-buttons-container{
	height: 10vh;
	width: 100vh;
}

.nav-button-report {
	background-color: #43BFBF;
	color: white;
	font-size: 7vh;
	
}

.nav-button-back {
	background-color: #01A1A1;
	color: white;
	font-size: 7vh;
}

.full-w{
	width: 100vh;
}

.search {
	-webkit-border-radius: 15px;
	background-color: #6FD5D5;
	width: 50vw;
	height: 7vh;
	font-size: 5vh;
	padding: 5px;
}

.main-icon {
	
	color: #6FD5D5;
	font-size: 7vh;
	padding: 5px;
}

.main-icon:active{
	color: white;
}
.date-label{
	font-size: 5vw;
}

.user-label {
	font-size: 4.3vw;
}

.report-description{
	background-color: #23ADAD;
	font-size: 5vw;
	color: White;
}

.reports-mini-icon {
	text-align: center;
	background-color: #43BFBF;
	color: white;
	border-radius: 50px;
	height: 1.4em;
	width: 1.4em;
	font-size: 5vw;
	line-height: 5vh;
	top: 1vw;
	position: absolute;
	right: 1.5vw;
}

.reports-mini-number{
	color: white;
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.full-screen {
	position: relative;
	top: 0;
	left: 0;
	bottom:0;
	width: 100vw;
	height: 100vh;
}

.z-high {
	z-index: 999;
}

.middle{
	margin-bottom: 20vh;
}



/* LOGIN screen CSS */
.login-field{
	line-height: 2em;
	height: 2em;
	width: 100%;
	border-radius: 5px;
	color: #294142;
	font-size: 6.5vw;
	padding: 4%;
	border: none;

}

.login-field:focus {
	background-color: #DEF2FF;
}

.login-button {

	font-size: 7.5vw;
	color: white;
}

