/* CSS declarations go here */
tr.spotList > td {
	padding-right: 0.9em;
	padding-bottom: 1em;
}

tr.reportList > td {
	padding-right: 0.9em;
	padding-bottom: 1em;
}

.reportBtn {
	vertical-align: bottom;
	margin: auto;
	padding: 1.2em;
}

.reportBtn > input[text]{
	background-color: green;
}

.veryOldReport {
	color: red;
}

.oldReport {
	color: OrangeRed;
}

.halfOldReport {
	color: yellow;
}

.newReport {
	color: green;
}

.reportForm {
	padding: 0.9em 0;
}

.title {
	font-size: 240%;
	color: #000000;
    text-decoration: none;
}